.header {
  border-bottom: 1px solid rgba($primary, 0.5);
  min-width: 90vw;
  max-width: 90vw;
  height: fit-content;
  padding: 1vh 0;
  margin-bottom: 2vh;

  .site-header {
    gap: 2vw;
  }
}

/* Header */

.header,
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Title */

.title,
.logo {
  padding: 0;

  a {
    color: $background;
  }
}

.logo a img {
  max-width: 256px;
}

@media (max-width: 767px) {
  .title,
  .logo {
    padding: 0;
  }

  .title {
    min-width: 50%;
  }

  .logo {
    max-width: 10%;

    a {
      img {
        max-width: 100%;
      }
    }
  }
}

.title * {
  color: $primary;
}

.title p {
  font-style: italic;
}
