img:not([alt]) {
  outline: 4px red dashed !important;
}

.gallery p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 100%;
}

.gallery p img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .gallery p {
    grid-template-columns: 1fr !important;
  }
}
